@model RaplaICal.Models.Configuration
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>title</title>
</head>
<body>
<form method="get" action="/Home/Index2">
    <label for="key">Key:</label>
    <input type="text" name="key" id="key" placeholder="Please type in your key" value="@Model.Key" />
    <br/>
    <label for="start">Start Date:</label>
    <input type="date" name="start" id="start" placeholder="Select start date" value="@Model.Start.ToString("yyyy-MM-dd")"/>
    <br/>
    <label for="end">End Date:</label>
    <input type="date" name="end" id="end" placeholder="Select end date" value="@Model.End.ToString("yyyy-MM-dd")"/>
    <input type="submit" />
</form>
</body>
</html>